PORT=3000
PARTNERSHIP_INQUIRY_TO=bobby@mjsseya.org

SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_DOMAIN=gmail.com
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
MAILER_FROM=your_from_email@example.com
